body{
    background: linear-gradient(to right, #fff, #fcfcfc);    
}

/*---- Navbar ---- */
.navbar-brand:hover{
    transform:scale(1.1) rotate(3deg);     
}

#navbarNav .btn{
    min-width: 125px;
}

#navbarNav .btn:hover{
    transform:scale(1.1);
    min-width: 125px;
}

.tel{
    text-decoration: none;
    color: #fff;    
}

#tel:hover{
    font-size:1.03em; 
}
/*------- Page d'Accueil  -------*/

/* Modification des controleurs du carousel */
.carousel-control-prev-icon, .carousel-control-next-icon{
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: 80%, 80%;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-control-prev-icon{
    margin-right:45%;
    margin-bottom:45%;
}

.carousel-control-next-icon{
    margin-left:45%;
    margin-bottom:45%;
}
.accueilContact ul li {
    list-style-type: none;
}

/*------- Page Nos pizzas---------*/
#h1-nos-pizzas,
.h2-separator{
    display: inline-block;
    position: relative;     
}

#h1-nos-pizzas::after,
#h1-nos-pizzas::before,
.h2-separator::after,
.h2-separator::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    right: 110%;
    background: black; 
}

#h1-nos-pizzas::after,
.h2-separator::after{
    left: 110%; 
}

.bg-slogan{
    background: center / contain no-repeat url(../img/originale.jpg);
    height: 30vh;  
    color:green;
    font-weight: 900;
    font-size: 8vw;
    text-align: center;
    vertical-align: center;    
}

.card-text{
    height: 50px;
}



@media screen and (max-width: 768px){

    .carousel-control-prev-icon, .carousel-control-next-icon{
        height: 45px;
        width: 45px;      
        background-size: 80%, 80%;      
    }    
        
    .carousel-control-prev-icon{
        margin-right:45%;
        margin-bottom:10%;
    }
    
    .carousel-control-next-icon{
        margin-left:45%;
        margin-bottom:10%;
    }
    
}


@media screen and (min-width: 768px) and (max-width: 992px){
    
    .card-title{
        height: 55px;
    }

    .card-text{
        height: 75px;
    }

    .carousel .card-text{
        height: 90px;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon{
        height: 45px;
        width: 45px;      
        background-size: 80%, 80%;      
    }
    
    .carousel-control-prev-icon{
        margin-right:50%;
        margin-bottom:200%;
    }
    
    .carousel-control-next-icon{
        margin-left:50%;
        margin-bottom:200%;
    }
    
}


@media screen and (min-width: 992px) and (max-width: 1200px){

    .card-title{
        height: 60px;
    }

    .carousel .card-text{
        height: 80px;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon{
        height: 60px;
        width: 60px;      
        background-size: 80%, 80%;      
    }

    .carousel-control-prev-icon{
        margin-right:50%;
        margin-bottom:100%;
    }
    
    .carousel-control-next-icon{
        margin-left:50%;
        margin-bottom:100%;
    }    
    
}


@media screen and (min-width: 1200x) and (max-width: 1400px){

    .carousel-control-prev-icon, .carousel-control-next-icon{
        height: 100px;
        width: 100px;    
        background-size: 80%, 80%;   
    }

    .carousel-control-prev-icon{
        margin-right:45%;
        margin-bottom:115%;
    }
    
    .carousel-control-next-icon{
        margin-left:45%;
        margin-bottom:115%;
    }
    
}









