body{
    background: linear-gradient(to right, #fff, #fcfcfc);    
}

/*---- Navbar ---- */
.navbar-brand:hover{
    transform:scale(1.1) rotate(3deg);     
}

#navbarNav .btn{
    min-width: 125px;
}

#navbarNav .btn:hover{
    transform:scale(1.1);
    min-width: 125px;
}

#tel{
    text-decoration: none;
    color: #fff;    
}

#tel:hover{
    font-size:1.03em; 
}
/*------- Page d'Acceuil  -------*/

.bgSlogan{
    background-image: url("../img/imgSlogan.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
} 
/* Modification des controleurs du carousel */
.carousel-control-prev-icon, .carousel-control-next-icon{
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: 80%, 80%;
    border-radius: 50%;
    border: 1px solid black;
}

.ladyTrump{
    height: 10vh;
}

.carousel-control-prev-icon{
    margin-right:45%;
    margin-bottom:45%;
}

.carousel-control-next-icon{
    margin-left:45%;
    margin-bottom:45%;
}
.accueilContact ul li {
    list-style-type: none;
}

/*------- Page Nos pizzas---------*/
#h1-nos-pizzas,
.h2-separator{
    display: inline-block;
    position: relative;     
}

#h1-nos-pizzas::after,
#h1-nos-pizzas::before,
.h2-separator::after,
.h2-separator::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    right: 110%;
    background: black; 
}

#h1-nos-pizzas::after,
.h2-separator::after{
    left: 110%; 
}

.bg-slogan{
    background: center / contain no-repeat url(../img/originale.jpg);
    height: 30vh;  
    color:green;
    font-weight: 900;
    font-size: 8vw;
    text-align: center;
    vertical-align: center;    
}

.card-text{
    height: 70px;
}




@media screen and (min-width: 576px) and (max-width: 768px){
    .bg-slogan{
        height: 40vh;   
    }

    
}

@media screen and (min-width: 768px){
    .bg-slogan{
        height: 50vh;   
    }
}

@media screen and (min-width: 992px){
    .bg-slogan{
        height: 70vh;   
    }
}